* {
    font-family: 'Inter';
    font-weight: 400;
    line-height: 150%;
}

body {
    margin: 0;
    background: rgb(92, 8, 148);
}

.main {
    display:flex;
    justify-content: space-between;
    padding: 0 60px 30px 100px;
}

@media screen and (max-width: 1023px) {
    .main {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        box-sizing: border-box;
        padding: 0 100px 30px 100px;
    }
}

@media screen and (max-width: 479px) {
    .main {
        padding: 0 20px 30px 20px;
    }
}


