#izq__btns__desencriptar {
    background-color: rgba(146, 0, 243, 0.548);
    border: 1px solid rgb(253, 228, 0);
    border-radius: 24px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(253, 228, 0);
    cursor: pointer;
    height: 47px;
    width: 263px;
    margin-left: 30px;
}

#izq__btns__desencriptar:hover {
    background: rgb(253, 228, 0);
    color: rgba(146, 0, 243, 0.548);
    box-shadow: 0 6px 16px #0a3871;
    transition: all 0.2s ease;
    }

@media screen and (max-width: 1023px) {
    #izq__btns__desencriptar {
        width: 40%;
    }
}
    

@media screen and (max-width: 767px) {
    #izq__btns__desencriptar {
        width: 85%;
        margin-left: 0;
        margin-top: 10px;
    }
}
